.card{
  margin-top: 70px;
background-image: url(/img/black.png);
display: flex;
align-items: center;

}
.card__content{
margin-left: 100px;
max-width: 360px;
}
.spanimg{
  display: flex;
}
.card__title{
  color: rgb(255, 255, 255);
font-family: Arimo;
font-size: 48px;
font-weight: 500;
margin-bottom: 15px;
}
.carta{
  max-width: 400px;
}
.card__text{
  color: rgb(148, 148, 148);
font-family: Arimo;
font-size: 16px;
font-weight: 500;
margin-bottom: 10px;
}
.name{
  border: none;
  margin-bottom: 15px;
  padding: 17px 135px 14px 22px;
}
.gmail{
  border:none;
  margin-bottom: 15px;
  padding: 17px 135px 14px 22px;
}
.request{
  border: none;
  margin-bottom: 10px;
  padding: 17px 135px 80px 22px;
}
.card__btn{
  color: rgb(255, 255, 255);
font-family: Futura PT;
font-size: 16px;
font-weight: 500;
background: rgb(255, 189, 84);
border: none;
padding: 14px;
}
.card__img{
  max-width: 350px;
}
@media screen and (max-width:1200px) {
  .card__content{
    margin-left: 80px;
  }
  .card__img{
    max-width: 330px;
  }
}
@media screen and (max-width:1160px) {
  .card__content{
    margin-left: 60px;
  }
  .card__img{
    max-width: 310px;
  }
  .name{
    padding: 17px 115px 14px 22px;
  }
  .gmail{
    padding: 17px 115px 14px 22px;
  }
  .request{
    padding: 17px 115px 70px 22px;
  }
  }
@media screen and (max-width:1100px) {
  .card__content{
    margin-left: 40px;
  }
  .card__img{
    max-width: 290px;
  }
}
@media screen and (max-width:1064px) {
 .card{
  flex-direction: column;
 } 
 .carta{
max-width:960px ;
margin-bottom: 30px;
 }
 .card__content{
  max-width: 360px;   margin-right: 12px;
 }
 .name{
  border: none;
  margin-bottom: 15px;
  padding: 17px 135px 14px 22px;
}
.gmail{
  border:none;
  margin-bottom: 15px;
  padding: 17px 135px 14px 22px;
}
.request{
  border: none;
  margin-bottom: 10px;
  padding: 17px 135px 80px 22px;
}
.card__img{
  max-width: 360px;
}
.spanimg{
  display: flex;
}
}
@media screen and (max-width:740px) {
  .card__content{
    max-width: 340px;
    margin-left: 30px;
  }
  .card__img{
max-width: 340px;
  }
}
@media screen and (max-width:720px) {
  .card__content{
    max-width: 320px;
    margin-right: 12px;
  }
  .card__img{
max-width: 320px;
  }
}
@media screen and (max-width:682px) {
  .card__img{
    display: none;
  }
  .card__content{
    max-width: 360px; 
  }
}
@media screen and (max-width:600px) {
  .carta{
    max-width: 360px;
  }
}
@media screen and (max-width:390px) {
  .carta{
    max-width: 340px;
  }
  .name{
    padding: 17px 115px 14px 22px;
  }
  .gmail{
    padding: 17px 115px 14px 22px;
  }
  .request{
    padding: 17px 115px 70px 22px;
  }
}
@media screen and ( max-width:372px) {
  .carta{
    max-width: 320px;
  }
  .name{
    padding: 17px 95px 14px 22px;
  }
  .gmail{
    padding: 17px 95px 14px 22px;
  }
  .request{
    padding: 17px 95px 70px 22px;
  }
  .card__content{
margin-right: 8px;
}
}
@media screen ( max-width:352px) {
  .carta{
    max-width: 300px;
  }
  .name{
    padding: 17px 75px 14px 22px;
  }
  .gmail{
    padding: 17px 75px 14px 22px;
  }
  .request{
    padding: 17px 75px 70px 22px;
  }
}