.siteheader{
  background-color: white;
  height: 60px;
  margin-top: 20px;

}
.vet{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 107px;
  color: black;
}
.fish{
  width: 20.75px;
  height: 20.75px;
}
.siteheader__logo{
  margin-left: 65px;
  margin-right: 80px;
  margin-bottom: 40px;
  flex-shrink: 0;
}
.logo__img{
max-width:190.55px;
  height: 86.23px;
  flex-shrink: 0;
}
.siteheader__list{
  width: 785px;
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  margin-bottom: 40px;
}
.siteheader__item{
  color: rgb(51, 51, 51);
font-family: Futura PT;
font-size: 16px;
font-weight: 500;
}
.siteheader__link{
  color: rgb(51, 51, 51);
  font-family: Arimo;
font-size: 16px;
font-weight: 500;
line-height: 21px;
text-align: left;
}
.siteheader__link:hover,.siteheader__zapros:hover{
 text-decoration: underline rgb(224, 184, 81) 2px;
}
.siteheader__link:active,.siteheader__zapros:active{
  text-decoration: underline rgb(231, 197, 112) 2px;
  color: grey;
 }
.hamburger{
width: 30px;
height: 30px;
margin-bottom: 40px;
display: none;
}
.siteheader__zapros{
color: rgb(51, 51, 51);
font-size: 16px;
height: -1px;
padding: 35px;
background-position: left;
background-image: url(../../img/panja.png);
background-repeat: no-repeat;
max-width: 150px;
margin-bottom: 34px;
}

@media screen and (max-width:1090px) {
.siteheader__list{
  display: none;
}
.siteheader__zapros{
  display: none;
}
.hamburger{
  display: inline;
  margin-right: 15px;
  flex-shrink: 0;
}
}
@media screen and (max-width:823px) {
  .logo__img{
    max-width: 170px;
  }
  .siteheader__logo{
    margin-left: 40px;
  }
}
@media screen and (max-width:760px) {
  .zapros__box{
    margin-left: 250px;
  }
}
@media screen and (max-width:716px){
  .zapros__box{
    margin-left: 200px;
  }
  .logo__img{
    max-width: 160px;
  }
}
@media screen and (max-width:652px) {
  .zapros__box{
    margin-left: 150px;
  }
}
@media screen and (max-width:578px) {
  .zapros__box{
    margin-left: 100px;
  }
}
@media screen and (max-width:530px) {
  .zapros__box{
    display: none;
  }
  .siteheader__logo{
    margin-left: 30px;
  }
}
