.vet{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fish{
  width: 20.75px;
height: 20.75px;
}
.siteheader__logo{
  margin-left: 65px;
}
.siteheader__list{
  width: 692px;
  height: 21.5px;
  display: flex;
  justify-content: space-between;
}
.siteheader__link{
  color: rgb(51, 51, 51);
font-size: 16px;
font-weight: 500;
line-height: 21px;
text-align: left;
}
.siteheader__bttn{
border: none;
background-color: white;
color: rgb(51, 51, 51);
font-size: 16px;
line-height: 21px;
width: 129.32px;
height: 26.19px;
margin-right: 64px;
}
