.quote{
  max-width: 1135px;
  margin-top: 40px;
  height: 240px;
  margin-left: 350px;
  margin-bottom: 180px;
}
.quote__line{
  width: 140px;
  border: 1px solid rgb(219, 219, 219);
  margin-top: 20px;
  margin-left: 320px;
  margin-right: 530px;
  margin-bottom: 43px;
}
.rightline{
  margin-top: 40px;
}
.quote__qosh{
  width: 50px;
height: 30px;
font-size: 200px;
}
.rightqosh{
margin-left: 730px;
}
.quote__text{
  width: 753px;
height: 69px;
color: rgb(148, 148, 148);
font-family: Arimo;
font-size: 20px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
