.useful{
  padding-left: 3px;
  padding-right: 3px;
}
.useful__subtitle{
color: rgb(51, 51, 51);
font-family: Arimo;
font-size: 48px;
font-weight: 500;
text-align: center;
margin-top: 99px;
margin-bottom: 50px;
}
.useful__list{
display: flex;
justify-content: space-between;

}
.useful__item{
  max-width: 300px;
  box-sizing: border-box;
border: 1px solid rgb(228, 228, 226);
border-radius: 5px;
background: rgb(254, 254, 254);
margin-right:10px;
}
.kissdogs, .atvet{
  margin-right: 0px;
}
.useful__dogs{
  height: 100%;
}
.dataicon{
  background-image:url(/img/panja.png);
  background-repeat: no-repeat;
  padding: 30px;
  background-position: left;
  color: black;
}
.useful__data{
  color: rgb(148, 148, 148);
font-family: Futura PT;
font-size: 14px;
font-weight: 500;
text-align: end;
margin-top: 20px;
margin-bottom: 5px;
}
.data-con{
  margin-left: 30px;
  margin-right: 60px;
}
.data-con__title{
  color: rgb(0, 0, 0);
font-family: Arimo;
font-size: 22px;
font-weight: 500;
margin-bottom: 10px;
}
.data-con__text{
  color: rgb(148, 148, 148);
font-family: Arimo;
font-size: 16px;
font-weight: 500;
margin-bottom: 35px;
}
.data-item__text{
  color:rgb(46, 221, 221);
}
.data-item__text2{
  color: rgb(148, 148, 148);
font-family: Futura PT;
font-size: 14px;
font-weight: 500;
}
.data-item{
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 27px;
  margin-bottom: 32px;
}
.useful__con{
  margin-left: 30px;
  margin-right: 50px;
}
.useful__con__title{
  color: rgb(51, 51, 51);
font-family: Arimo;
font-weight: 500;
font-size: 26px;
margin-bottom: 15px;
}
.usefuldata{
  color: rgb(148, 148, 148);
  font-family: Futura PT;
  font-size: 14px;
  font-weight: 500;
  text-align: end;
  margin-top: 20px;
  margin-bottom: 5px;
}
.useful__content{
  margin-left: 30px;
  margin-right: 60px;
}
.useful__title{
  color: rgb(51, 51, 51);
font-family: Arimo;
font-size: 22px;
font-weight: 500;
margin-bottom: 10px;
}
.useful__text{
  color: rgb(148, 148, 148);
  font-family: Arimo;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.useful__cat, .useful__dogs, .useful__img {
  max-width:298px
}
.useful__item:hover{
  border: 1px solid rgb(228, 228, 226);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.useful__item:active{
  box-sizing: border-box;
border: 1px solid rgb(228, 228, 226);
border-radius: 5px;
background: rgb(254, 254, 254);
}
.dataicon:hover{
  text-decoration: underline rgb(224, 184, 81) 2px;
}
.dataicon:active{
  text-decoration: underline rgb(231, 197, 112) 2px;
}
@media screen and (max-width:1180px) {
  .useful__item{
  max-width: 270px;
  }
  .useful__cat, .useful__dogs, .useful__img {
    max-width:270px
  }
}
@media screen and (max-width:1118px) {
  .useful__item{
    max-width: 260px;
    }
    .data-con__text{
      margin-bottom: 30px;
    }
    .useful__text{
      margin-bottom: 15px;
    }
    .dataicon{
      padding: 25px;
    }
}
@media screen and (max-width:1066px) {
  .useful__item{
    max-width: 250px;
    }
    .useful__cat, .useful__dogs, .useful__img {
      max-width:260px
    }
    .useful__text{
      margin-bottom: 13px;
    }
    .data-con__title{
      margin-bottom: 12px;
    }
    .data-con{
      margin-left: 27px;
    margin-right: 57px;
    }
    .useful__content {
      margin-left: 27px;
      margin-right: 57px;
  }
  .data-con__text {
    margin-bottom: 60px;
    }
    .useful__text {
      margin-bottom: 60px;
  }
}
@media screen and (max-width:990px) {
  .useful__list{
    flex-direction: column;
  }
  .useful__item{
    margin-bottom: 24px;
    margin-right: 0px;
    border: none;
border-radius: 5px;
background: rgb(254, 254, 254);
margin-right:10px;
display: flex;justify-content: space-between;
height: 200px;
box-sizing:inherit;
  }
  .kissdogs{
    display: none;
  }
  .useful__cat, .useful__dogs, .useful__img{
    max-width: 300px;
  }
  .data-con, .data-item, .useful__content{
    max-width: 500px;
  }
}