.zabotimsya{
background-image: url(../../img/Screenshot_2.png);
flex-shrink: 0;
background-size: 1440px;
background-repeat: no-repeat;
height: 720px;
max-width: 1440px;
}
.zabotimsya__title{
  font-family: Arimo;
font-size: 70px;
font-weight: 500;
line-height: 64px;
letter-spacing: 0%;
}
.zabotimsya__title2{
  color:rgb(120, 192, 222);
  font-family: Arimo;
font-size: 60px;
font-weight: 500;
line-height: 64px;
margin-bottom: 40px;
}
.zabotimsya__text{
  color: rgb(148, 148, 148);
font-family: Arimo;
font-size: 16px;
font-weight: 500;
line-height: 21px;
margin-bottom: 35px;
}
.zabotimsya__btn{
background-color:rgb(51, 51, 51);
color: white;
border-radius: 6px;
width: 160px;
height: 50px;
padding: 15px;
border:none;
}
.zabotimsya__btn:hover{
background-color:rgb(55, 159, 204);
color: black;
}
.zabotimsya__btn:active{
  background-color:rgb(120, 192, 222);
  color: black;
  }
.zabodimsya__content{
  height: 385px;
  max-width: 600px;
  padding-top: 200px;
  margin-left: 630px;
}